:root {
  --primary-color: #ff5733;
  --secondary-color: #33ffbd;
  --accent-color: #337aff;
  --background-color: #f5f5f5;
  --text-color: #333;
  --card-bg-color: #000; /* Changed to black */
  --chart-bg-color: rgba(51, 122, 255, 0.1);
  --border-radius: 10px;
}

body {
  background-color: var(--background-color);
  font-family: Arial, sans-serif;
  color: var(--text-color);
}

h1, h6 {
  color: var(--primary-color);
  text-align: center;
}

h6 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

h1 {
  font-size: 2.5rem;
  margin-top: 0.5rem;
}

.mx-auto-320px {
  max-width: 320px;
  margin: auto;
  padding-top: 1rem;
}

hr {
  border: 1px solid var(--primary-color);
  margin-bottom: 0.5rem;
}

.charts-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.chart-wrapper {
  padding: 1rem;
  background-color: var(--chart-bg-color);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  flex: 1 1 30%;
  max-width: 30%;
}

.chart-wrapper:hover {
  transform: scale(1.05);
}

canvas {
  display: block;
  width: 100%;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

mat-card {
  background-color: var(--card-bg-color);
  color: white; /* Text color to white for better readability */
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  flex: 1 1 30%;
  max-width: 30%;
  margin: 1rem 0;
}

mat-card:hover {
  transform: scale(1.05);
}

mat-card-header {
  background-color: var(--secondary-color);
  color:black;
  padding: 1rem;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

mat-card-title {
  font-size: 1.5rem;
  color: var(--accent-color);
}

mat-card-subtitle {
  font-size: 1rem;
  color: var(--text-color);
}

mat-card-content {
  padding: 1rem;
  color: black; /* Ensuring text color inside the card is white */
}
