<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer fixedInViewport="true" mode="over" opened="false" class="sidenav">
    <!-- Side navigation content -->
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary" class="toolbar">
      <div class="toolbar-left">
        <a mat-button routerLink="/patients" class="toolbar-link">Patients</a>
        <a mat-button routerLink="/records" class="toolbar-link">Dossiers Médicaux</a>
        <a mat-button routerLink="/appointments" class="toolbar-link">Rendez-vous</a>
      </div>

      <div class="toolbar-right">
        <a mat-button routerLink="/login" class="toolbar-link">Déconnexion</a>
      </div>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
